.header {
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: center;
}

.services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 5%;
    background-position: center;
}

.portfolio {
    text-align: center;
    margin-top: 4%;
}

.project>div>img {
    height: 35vh;
    width: 37vh;
    padding: 20px;
}

.services>h3 {
    font-size: 30px;
}

.services>p {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact {
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.contact>h3 {
    font-size: 40px;
    padding: 2%;
}

.nameEmail {
    width: 50%;
    margin: auto;
}

.nameEmail>div>input {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0px;
    height: 35px;
    color: white;
    margin: 2%;
    width: 85%;
}

#message {
    width: 40%;
    margin: auto;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0px;
    color: white;
    overflow: hidden;
    height: 30vh;
}

.f-flex {
    flex-direction: column;
}

.header {
    text-align: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 2%;
}

.header>p {
    padding-bottom: 10%;
}

.header>h1 {
    font-size: 60px;
    padding-top: 1%;
    line-height: 130px;
}

.about {
    text-align: center;
    width: 60%;
    margin-top: 3%;
}

.about>p {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 17px;
}

.whatWeDo {
    text-align: center;
    padding-top: 4%;
}

.whatWeDo>h3 {
    padding-bottom: 3%;
}

.contact_image{
    text-align: center;
    line-height: 20px;
    padding: 30px 0px 20px 0px;
}

.contact_image>img{
    margin-bottom: 10px;
}

.contact_image>p{
    padding-top: 1%;
    font-size: 20px;
}

::placeholder{
    font-size: 20px;
    color: white;
}